@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700,800');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	font-family: 'Nunito', sans-serif;

}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;

	max-width: 1200px;
	margin: 0 auto;
}
body {
	background-color: #FBFBFB;

}

header {
	grid-column: 1/5;

	padding: 15px;
	margin-bottom: 35px;
	color: #333333;


}

header .logoHead {
	float: left;

	font-weight: 800;
	font-size: 2em;
	padding: 0 4px;
	background-color: #FFE66D;


}

header nav {
	float: right;
}

header nav ul {
	list-style: none;
	/*margin-right: 55px;*/
	margin-top: 10px;
}

header nav ul li {
	display: inline-block;
	margin-left: 20px;
	padding: 0 2px;
	cursor: pointer;
	transition: 0.3s ease-in;
	font-size: 125%;
	/*border-bottom: 1px solid #FBFBFB;*/
}

header nav ul li:hover {
	color: #333333;
	background-color: #FFE66D;
	/*border-bottom: 1px solid #6CA6C1;*/

}

/*add '+' before each menu item*/
header nav ul li::before {
	display: inline-block;
	margin-right: 3px;
	content: '+';
	font-family: 'roboto',sans-serif;
	font-weight: 900;
	transition-property: transform;
	transition: 0.5s;
}
header nav ul li:hover:before {
	transform: rotate(90deg);
	
}




/*END HEADER*/

.hero {
	grid-column: 1/5;
	text-align: center;
	height: 500px;
	margin-bottom: 45px;

	background-image: url('../img/hero.jpeg');
	background-size: cover;
	background-position: center;
}

.hero h1 {
	display: inline-block;
	margin-top: 150px;
	padding: 10px;
	color: #FBFBFB;
	border: 5px solid #FBFBFB;
	
	font-size: 350%;
	font-weight: 900;
}

.hero span {
	display: inline-block;
	color: #FBFBFB;
	background-color: #333333;

	margin-top: 25px;
	padding: 15px;
	width: 350px;

	font-size: 150%;

}

.hero div {
	margin-top: 20px;
}

.hero button {
	background-color: #FBFBFB;
	color: #333333;
	border: none;

	font-weight: 700;

	margin-top: 15px;
	padding: 10px 15px;

	width: 170px;

	cursor: pointer;
	transition: 0.3s;
}

.hero button:hover {
	background-color: #FFE66D;
	color: #333333;
}

.hero #orange:hover {
	background-color: #333333;
	color: #FBFBFB;
}

/*END HERO*/

section, .left {
	grid-column: 1/5;

}

section, .right {
	grid-column: 1/5;
}
section {
	height: 500px;
	text-align: center;
}

section h2{
	display: inline-block;
	margin-bottom: 25px;
	padding: 5px;
	background-color: #333;
	color: #FBFBFB;
	font-family: 'roboto', sans-serif;
}

.textDivSec {
	/*max-width: 400px;*/
	margin: 15px 50px;

	color: #333;
}

.textDivSec h3 {
	display: inline-block;
	width: 250px;
	font-family: 'Roboto', sans-serif;
	
	font-size: 150%;
}

.textDivSec h3::before {
	display: inline-block;
	content: '+';
	margin-right: 10px;

	font-family: 'Roboto',sans-serif;
	font-weight: 900;
	opacity: 0.5;
}

.textDivSec p {
	display: inline-block;
	width: 500px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;

	
}